In [4]:
#   line of code to install once for all with exclamation mark    ->         !pip install plotnine

Collecting plotnine
  Obtaining dependency information for plotnine from https://files.pythonhosted.org/packages/eb/c1/fcc5985eee6511aa321e68c8f813d9fdbe1b506713a95d4f612a5f963270/plotnine-0.12.3-py3-none-any.whl.metadata
  Downloading plotnine-0.12.3-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: matplotlib>=3.6.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from plotnine) (3.7.1)
Collecting mizani<0.10.0,>0.9.0 (from plotnine)
  Obtaining dependency information for mizani<0.10.0,>0.9.0 from https://files.pythonhosted.org/packages/e2/95/d4e33d3f5bc9fee5512637661208b6b595bda58e9b6a66fa867137761dd7/mizani-0.9.3-py3-none-any.whl.metadata
  Downloading mizani-0.9.3-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: numpy>=1.23.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from plotnine) (1.24.3)
Requirement already satisfied: pandas>=1.5.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from plotnine) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from plotnine) (0.5.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from plotnine) (1.10.1)
Requirement already satisfied: statsmodels>=0.14.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from plotnine) (0.14.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from matplotlib>=3.6.0->plotnine) (2.8.2)
Collecting tzdata (from mizani<0.10.0,>0.9.0->plotnine)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 22.1 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from pandas>=1.5.0->plotnine) (2022.7)
Requirement already satisfied: six in c:\users\ceder\anaconda\anaconda3\lib\site-packages (from patsy>=0.5.1->plotnine) (1.16.0)
Downloading plotnine-0.12.3-py3-none-any.whl (1.3 MB)
   ---------------------------------------- 0.0/1.3 MB ? eta -:--:--
   ---------------------------------------  1.3/1.3 MB 40.3 MB/s eta 0:00:01
   ---------------------------------------  1.3/1.3 MB 40.3 MB/s eta 0:00:01
   ---------------------------------------  1.3/1.3 MB 40.3 MB/s eta 0:00:01
   ---------------------------------------- 1.3/1.3 MB 8.1 MB/s eta 0:00:00
Downloading mizani-0.9.3-py3-none-any.whl (73 kB)
   ---------------------------------------- 0.0/73.7 kB ? eta -:--:--
   ---------------------------------------- 73.7/73.7 kB 4.2 MB/s eta 0:00:00
Installing collected packages: tzdata, mizani, plotnine
Successfully installed mizani-0.9.3 plotnine-0.12.3 tzdata-2023.3

In [5]:
import pandas as pd
import plotly.express as px
from plotnine import *

# nycflights13 dataset
flights = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/flights.csv')
airlines = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/airlines.csv')
planes = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/planes.csv')
weather = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/weather.csv')

# Alcohol consumption by country
data = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/DrinksCountry.csv')

In [7]:
flights = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/flights.csv')
airlines = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/airlines.csv')
planes = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/planes.csv')
weather = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/weather.csv')

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [28]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [36]:
jfk = flights[(flights["origin"] == "JFK") & (flights["month"] == 1)]

In [76]:
jfk_tail= jfk.groupby("tailnum").size().reset_index()
jfk_tail.columns = ["tailnum","count"]
jfk_tail.sort_values(by = "count", ascending = False)

     tailnum  count
80    N249JB     43
160   N334JB     43
89    N283JB     39
88    N281JB     39
78    N239JB     39
...      ...    ...
679   N602MQ      1
673   N601AW      1
650   N5EPAA      1
649   N5ENAA      1
1277  N997DL      1

[1278 rows x 2 columns]

In [79]:
jfk["tailnum"].value_counts().reset_index()

       index  tailnum
0     N334JB       43
1     N249JB       43
2     N281JB       39
3     N283JB       39
4     N239JB       39
...      ...      ...
1273  N638AA        1
1274  N174DZ        1
1275  N3HEAA        1
1276  N714US        1
1277  N3JWAA        1

[1278 rows x 2 columns]

In [63]:
manuf = pd.merge(jfk_tail, planes, on = "tailnum")
manuf

ValueError: Cannot merge a Series without a name

In [48]:
jfk_manuf = manuf.groupby("manufacturer").size()

In [51]:
most = jfk_manuf.loc("manufacturer",jfk_manuf.max(1))

ValueError: No axis named 1 for object type Series