In [1]:
import pandas as pd
import numpy as np
flights = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/flights.csv')
airlines = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/airlines.csv')
planes = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/planes.csv')
weather = pd.read_csv('https://raw.githubusercontent.com/misrori/rdata/main/weather.csv')

In [26]:
flights.head(10)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01 06:00:00
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00

In [27]:
flights.origin

0         EWR
1         LGA
2         JFK
3         JFK
4         LGA
         ...
336771    JFK
336772    LGA
336773    LGA
336774    LGA
336775    LGA
Name: origin, Length: 336776, dtype: object

In [61]:
flights.dep_delay

0         2.0
1         4.0
2         2.0
3        -1.0
4        -6.0
         ...
336771    NaN
336772    NaN
336773    NaN
336774    NaN
336775    NaN
Name: dep_delay, Length: 336776, dtype: float64

In [62]:
JFK = flights[(flights.origin == "JFK") & (flights.dep_delay > 30)]

In [65]:
JFK.describe

<bound method NDFrame.describe of         year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
135     2013      1    1     826.0             715       71.0    1136.0
151     2013      1    1     848.0            1835      853.0    1001.0
178     2013      1    1     909.0             810       59.0    1331.0
373     2013      1    1    1337.0            1220       77.0    1649.0
411     2013      1    1    1428.0            1329       59.0    1803.0
...      ...    ...  ...       ...             ...        ...       ...
336704  2013      9   30    2028.0            1910       78.0    2255.0
336708  2013      9   30    2032.0            1945       47.0    2115.0
336725  2013      9   30    2053.0            2015       38.0    2146.0
336757  2013      9   30    2159.0            1845      194.0    2344.0
336763  2013      9   30    2235.0            2001      154.0      59.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
135               1045       51.0      AA     443  N3GVAA    JFK  MIA
151               1950      851.0      MQ    3944  N942MQ    JFK  BWI
178               1315       16.0      AA     655  N5EXAA    JFK  STT
373               1531       78.0      B6     673  N636JB    JFK  LAX
411               1640       83.0      B6     355  N635JB    JFK  BUR
...                ...        ...     ...     ...     ...    ...  ...
336704            2215       40.0      AA      21  N338AA    JFK  LAX
336708            2106        9.0      9E    3864  N602XJ    JFK  PHL
336725            2144        2.0      9E    3899  N8423C    JFK  BWI
336757            2030      194.0      9E    3320  N906XJ    JFK  BUF
336763            2249      130.0      B6    1083  N804JB    JFK  MCO

        air_time  distance  hour  minute            time_hour
135        160.0      1089     7      15  2013-01-01 07:00:00
151         41.0       184    18      35  2013-01-01 18:00:00
178        184.0      1623     8      10  2013-01-01 08:00:00
373        352.0      2475    12      20  2013-01-01 12:00:00
411        371.0      2465    13      29  2013-01-01 13:00:00
...          ...       ...   ...     ...                  ...
336704     294.0      2475    19      10  2013-09-30 19:00:00
336708      24.0        94    19      45  2013-09-30 19:00:00
336725      33.0       184    20      15  2013-09-30 20:00:00
336757      50.0       301    18      45  2013-09-30 18:00:00
336763     123.0       944    20       1  2013-09-30 20:00:00

[15241 rows x 19 columns]>

In [67]:
longd = flights[(flights.distance > 1500) & (flights.arr_delay > 15)]

In [70]:
longd.describe

<bound method NDFrame.describe of         year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
37      2013      1    1     628.0             630       -2.0    1016.0
69      2013      1    1     702.0             700        2.0    1058.0
102     2013      1    1     754.0             755       -1.0    1103.0
128     2013      1    1     821.0             820        1.0    1153.0
145     2013      1    1     833.0             835       -2.0    1134.0
...      ...    ...  ...       ...             ...        ...       ...
336674  2013      9   30    1956.0            1825       91.0    2208.0
336685  2013      9   30    2008.0            1935       33.0    2322.0
336704  2013      9   30    2028.0            1910       78.0    2255.0
336738  2013      9   30    2110.0            2055       15.0      51.0
336762  2013      9   30    2233.0            2113       80.0     112.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
37                 947       29.0      UA    1665  N33289    EWR  LAX
69                1014       44.0      B6     671  N779JB    JFK  LAX
102               1030       33.0      WN     733  N789SW    LGA  DEN
128               1129       24.0      B6     181  N521JB    JFK  SAN
145               1102       32.0      F9     835  N203FR    LGA  DEN
...                ...        ...     ...     ...     ...    ...  ...
336674            2121       47.0      DL    1576  N3772H    JFK  SAN
336685            2242       40.0      UA     208  N816UA    EWR  SEA
336704            2215       40.0      AA      21  N338AA    JFK  LAX
336738            2359       52.0      B6    1205  N517JB    JFK  PDX
336762              30       42.0      UA     471  N578UA    EWR  SFO

        air_time  distance  hour  minute            time_hour
37         366.0      2454     6      30  2013-01-01 06:00:00
69         381.0      2475     7       0  2013-01-01 07:00:00
102        279.0      1620     7      55  2013-01-01 07:00:00
128        354.0      2446     8      20  2013-01-01 08:00:00
145        257.0      1620     8      35  2013-01-01 08:00:00
...          ...       ...   ...     ...                  ...
336674     292.0      2446    18      25  2013-09-30 18:00:00
336685     339.0      2402    19      35  2013-09-30 19:00:00
336704     294.0      2475    19      10  2013-09-30 19:00:00
336738     361.0      2454    20      55  2013-09-30 20:00:00
336762     318.0      2565    21      13  2013-09-30 21:00:00

[15553 rows x 19 columns]>

In [74]:
flights.air_time

0         227.0
1         227.0
2         160.0
3         183.0
4         116.0
          ...
336771      NaN
336772      NaN
336773      NaN
336774      NaN
336775      NaN
Name: air_time, Length: 336776, dtype: float64

In [80]:
amer = flights[(flights.carrier == "AA") & (flights.air_time < 120)]

In [81]:
amer.describe

<bound method NDFrame.describe of         year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
108     2013      1    1     803.0             810       -7.0     903.0
326     2013      1    1    1237.0            1245       -8.0    1340.0
559     2013      1    1    1641.0            1650       -9.0    1746.0
752     2013      1    1    2013.0            2015       -2.0    2120.0
870     2013      1    2     603.0             600        3.0     733.0
...      ...    ...  ...       ...             ...        ...       ...
336550  2013      9   30    1757.0            1805       -8.0    1921.0
336600  2013      9   30    1849.0            1855       -6.0    2007.0
336645  2013      9   30    1928.0            1940      -12.0    2043.0
336700  2013      9   30    2022.0            2025       -3.0    2127.0
336709  2013      9   30    2032.0            2045      -13.0    2147.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
108                925      -22.0      AA    1838  N3GEAA    JFK  BOS
326               1350      -10.0      AA    1850  N3EGAA    JFK  BOS
559               1820      -34.0      AA    1790  N3BYAA    JFK  BOS
752               2130      -10.0      AA    1762  N3BNAA    JFK  BOS
870                745      -12.0      AA     301  N3CRAA    LGA  ORD
...                ...        ...     ...     ...     ...    ...  ...
336550            1950      -29.0      AA     353  N526AA    LGA  ORD
336600            2035      -28.0      AA     359  N4XJAA    LGA  ORD
336645            2120      -37.0      AA     363  N4XBAA    LGA  ORD
336700            2140      -13.0      AA    2314  N3CUAA    JFK  BOS
336709            2225      -38.0      AA     371  N434AA    LGA  ORD

        air_time  distance  hour  minute            time_hour
108         38.0       187     8      10  2013-01-01 08:00:00
326         40.0       187    12      45  2013-01-01 12:00:00
559         41.0       187    16      50  2013-01-01 16:00:00
752         35.0       187    20      15  2013-01-01 20:00:00
870        118.0       733     6       0  2013-01-02 06:00:00
...          ...       ...   ...     ...                  ...
336550     106.0       733    18       5  2013-09-30 18:00:00
336600     108.0       733    18      55  2013-09-30 18:00:00
336645     109.0       733    19      40  2013-09-30 19:00:00
336700      37.0       187    20      25  2013-09-30 20:00:00
336709     105.0       733    20      45  2013-09-30 20:00:00

[5357 rows x 19 columns]>

In [83]:
airlines

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

In [85]:
fl_airlines = pd.merge(flights, airlines, on='carrier')

In [86]:
fl_airlines.head

<bound method NDFrame.head of         year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0       2013      1    1     517.0             515        2.0     830.0
1       2013      1    1     533.0             529        4.0     850.0
2       2013      1    1     554.0             558       -4.0     740.0
3       2013      1    1     558.0             600       -2.0     924.0
4       2013      1    1     558.0             600       -2.0     923.0
...      ...    ...  ...       ...             ...        ...       ...
336771  2013      9   19    1759.0            1805       -6.0    1946.0
336772  2013      9   20    1758.0            1805       -7.0    1929.0
336773  2013      9   22    1759.0            1805       -6.0    1945.0
336774  2013      9   23    1759.0            1805       -6.0    1935.0
336775  2013      9   24    1751.0            1805      -14.0    1937.0

        sched_arr_time  arr_delay carrier  flight tailnum origin dest  \
0                  819       11.0      UA    1545  N14228    EWR  IAH
1                  830       20.0      UA    1714  N24211    LGA  IAH
2                  728       12.0      UA    1696  N39463    EWR  ORD
3                  917        7.0      UA     194  N29129    JFK  LAX
4                  937      -14.0      UA    1124  N53441    EWR  SFO
...                ...        ...     ...     ...     ...    ...  ...
336771            1953       -7.0      OO    5568  N760SK    LGA  CLE
336772            1953      -24.0      OO    5568  N766SK    LGA  CLE
336773            1953       -8.0      OO    5568  N772SK    LGA  CLE
336774            1953      -18.0      OO    5568  N776SK    LGA  CLE
336775            1953      -16.0      OO    5568  N785SK    LGA  CLE

        air_time  distance  hour  minute            time_hour  \
0          227.0      1400     5      15  2013-01-01 05:00:00
1          227.0      1416     5      29  2013-01-01 05:00:00
2          150.0       719     5      58  2013-01-01 05:00:00
3          345.0      2475     6       0  2013-01-01 06:00:00
4          361.0      2565     6       0  2013-01-01 06:00:00
...          ...       ...   ...     ...                  ...
336771      64.0       419    18       5  2013-09-19 18:00:00
336772      60.0       419    18       5  2013-09-20 18:00:00
336773      67.0       419    18       5  2013-09-22 18:00:00
336774      68.0       419    18       5  2013-09-23 18:00:00
336775      67.0       419    18       5  2013-09-24 18:00:00

                         name
0       United Air Lines Inc.
1       United Air Lines Inc.
2       United Air Lines Inc.
3       United Air Lines Inc.
4       United Air Lines Inc.
...                       ...
336771  SkyWest Airlines Inc.
336772  SkyWest Airlines Inc.
336773  SkyWest Airlines Inc.
336774  SkyWest Airlines Inc.
336775  SkyWest Airlines Inc.

[336776 rows x 20 columns]>